# ===============================
# DATASET (DO NOT PUSH)
# ===============================
dataset/
WLASL/
start_kit/

# ===============================
# MODELS
# ===============================
models/
*.h5
*.keras
*.ckpt

# ===============================
# VIDEOS & IMAGES
# ===============================
*.mp4
*.avi
*.mov
*.jpg
*.jpeg
*.png

# ===============================
# PYTHON
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ===============================
# VIRTUAL ENV
# ===============================
venv/
env/
.venv/

# ===============================
# IDE / OS
# ===============================
.vscode/
.idea/
.DS_Store
Thumbs.db
